<div id="auth-register-form">
  <form [formGroup]="register_form">
    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre Apellido" formControlName="nombre" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Telefono</mat-label>
        <input matInput placeholder="Número de teléfono" formControlName="telefono" />
      </mat-form-field>
    </div>
    <div class="grid-item">
      <mat-form-field appearance="fill" style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput placeholder="ejemplo@ejemplo.com" formControlName="email" />
      </mat-form-field>
    </div>
    <div class="grid-item">
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide_password() ? 'password' : 'text'" formControlName="password" />
        <button
          matIconButton
          matSuffix
          (click)="clickEvent_password($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide_password()"
        >
          <mat-icon>{{ hide_password() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-hint
          >. 10-20 caracteres <br />
          . 1 Mayúscula <br />
          . 1 Número <br />
          . 1 Carácter especial
        </mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Repetir Contraseña</mat-label>
        <input matInput [type]="hide_password_repeat() ? 'password' : 'text'" formControlName="repeat_password" />
        <button
          matIconButton
          matSuffix
          (click)="clickEvent_password_repeat($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide_password_repeat()"
        >
          <mat-icon>{{ hide_password_repeat() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
</div>
