<div id="auth-form">
  <form [formGroup]="login_form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="ejemplo@ejemplo.com"
        formControlName="email"
      /> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide_password() ? 'password' : 'text'" formControlName="password" />
      <button
        matIconButton
        matSuffix
        (click)="clickEvent_password($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide_password()"
      >
        <mat-icon>{{ hide_password() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <br />
  </form>
</div>
