#auth-register-header {
    border: 1px black solid;
    background-color: blanchedalmond;
    min-height: 3vw;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}