#tercer-div {
    background-color: #f38d8d;
    margin-right: 15px;
    padding-left: 15px;
    border: 1px black solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#button {
    padding: 5px;
}