#auth-card-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    background-color: beige;
    width: 15vw;
    height: 3vw;

    display: flex;
    justify-content: center;
    align-items: center;
}