<div id="octavo-componente">
    <h1> Octavo componente </h1>
    <p> En este componente hago uso del primer servicio, 'inyectado' en el archivo .ts del componente</p><hr>
    <p> Obtewngo 3 autos llamando a .getAutos {{primer_servicio.getAutos()}}</p>
    <p> Obtengo un auto llamando por ID 0: {{primer_servicio.getAuto(0)}}</p>
    <hr>
    <p> También puedo mostrar los autos de una forma más 'bonita' usando el <b>display</b> que definí en el .ts</p>
    <p> LIsta de autos: {{display}} </p>

</div>
