#septimo-componente {
    background-color: rgb(229, 240, 128);
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px black solid;
    margin-bottom: 15px;
}